body {
  position: relative;
  background-color: rgb(49, 52, 61);
  color: whitesmoke;
  text-align: center;
}

.fade {
  width: 160px;
  margin: 20px;
}

#move {
  position: absolute;
  top: 400px;
  left: calc(50% - 100px);
}
